<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
/* -------------------------------------
    INLINED WITH htmlemail.io/inline
------------------------------------- */
/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 620px) {
  table[class=body] h1 {
    font-size: 2rem !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  table[class=body] p,
        table[class=body] ul,
        table[class=body] ol,
        table[class=body] td,
        table[class=body] span,
        table[class=body] a {
    font-size: 1rem !important;
  }
  table[class=body] .wrapper,
        table[class=body] .article {
    padding: 10px !important;
  }
  table[class=body] .content {
    padding: 0 !important;
  }
  table[class=body] .container {
    padding: 0 !important;
    width: 100% !important;
  }
  table[class=body] .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
  }
  table[class=body] .btn table {
    width: 100% !important;
  }
  table[class=body] .btn a {
    width: 100% !important;
  }
  table[class=body] .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
  }
}
/* -------------------------------------
    PRESERVE THESE STYLES IN THE HEAD
------------------------------------- */
@media all {
  .ExternalClass {
    width: 100%;
  }
  .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
    line-height: 100%;
  }
  .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important;
  }
  .btn-primary table td:hover {
    background-color: #34495e !important;
  }
  .btn-primary a:hover {
    background-color: #34495e !important;
    border-color: #34495e !important;
  }
}
</style>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center"  valign="top" style="vertical-align:top;">
            <div style="max-width: 1200px; min-width: 350px;  border: 1px solid black">
                <div style="background-color: #4077ad; width: 100%; padding-top: 1rem; padding-bottom: 1rem;">
                <span style="color: white; font-family:News Cycle,'Helvetica Neue','Comic Sans', Arial ,monospace; font-size: 2rem;"> &nbsp; &nbsp; SPT-3G Cutout Service </span>
                </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" style="padding: 1rem;">
                            {{ message }}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="text-align: center; padding-bottom: 2rem;">
                            <b style="font-size: 1rem;"> Please <u>do not reply</u> to this automatically generated email.</b>
                        </td>
                    </tr>
                    </table>
            </div>
        </td>
    </tr>
</table>
</body>

</html>
