{% extends "base.html" %}

{% block title %}{{ project_name }} // Account{% end %}

{% block header_text %}{{ project_name }} // Account{% end %}

{% block body %}
<div class="row">
  <div class="col">
    {% if error %}
    <h1>Oops...</h1>
    <p>
      There was an error approving the registrant. Please check the server logs.
    </p>
    <p>
      Registrant User ID: {{ registrant_info['user_id'] }}
    </p>
    {% else %}
    <h1>Account registration approved!</h1>
    <p>
        The registration has been approved. An email notification has been sent to:
    </p>
    <p>
        {{ registrant_info['name'] }} <{{ registrant_info['email'] }}>
    </p>
    {% end %}
  </div>
</div>
{% end %}
