{% extends "base.html" %}

{% block title %}{{ project_name }} // Account{% end %}

{% block header_text %}{{ project_name }} // Account{% end %}

{% block body %}
<div class="row">
  <div class="col">
    {% if error %}
    <h1>Oops...</h1>
    <p>
      There was an error in your account registration. Please wait a few minutes and try again. 
      If you continue to experience errors, please contact Felipe Menanteau or Andrew Manning.
    </p>
    {% else %}
    <h1>Account registration received!</h1>
    <p>
        The SPT-3G admins have been notified of your request to access the
        service. When they review the request and approve it, you will receive
        an email confirmation that your account is ready to use.
    </p>
    <p>
      The email will be sent from <code>SPT-3G Web Services &lt;devnull@ncsa.illinois.edu&gt;</code>.
    </p>
    {% end %}
  </div>
</div>
{% end %}
