{% extends "account.html" %}

{% block css %}
.codeblock {
  border: solid lightgray 1px;
  padding: 1rem 1rem;
  background-color: #EEE;
}
{% end %}

{% block body %}
<div class="row">
  <div class="col">
    <p>The access token below will only be displayed once. It is valid for {{ ttl }} hours.</p>
    <p class="codeblock"><code id="token">{{ token }}</code></p>
    <p>(The text should already be selected. Press CTRL+C to copy.)</p>
    <p>The example below shows how to use the token in HTTP requests to access the {{ project_name }} API. The returned data is a fresh access token.</p>
    {% whitespace all %}
    <pre class="codeblock">curl -X GET \
    --header "Authorization: Bearer {{ token[0:4] }}...{{ token[-6:] }}" \
    https://{{ api_base_url }}/account/token/refresh</pre>
  </div>
</div>
{% end %}

{% block javascript %}
<script>
  {% include "token.js" %}
</script>
{% end %}
